@import '../../../styles/variables';

/* TODO: check notes */

/* text area */
.text-area {
  resize: none;
  height: 85px;
  width: 300px;
  padding: 3px 8px;
  border: 1px solid $color-grayscale-3;
  font-family: "Tahoma", "Arial", "Arabic Transparent";
  border-radius: 3px;
  color: $color-grayscale;
}

.text-area:focus {
  outline: none;
  border: 1px solid $color-grayscale-6;
}
