@import '../../styles/variables.scss';

/* buttons */
.button {
  border: 1px solid #2cd6a0;
  height: 50px;
  width: 100px;

  border-radius: 4px;
  margin: 5px;
}

.button:focus {
  outline: none;
  border: 1px solid #2EA2DB;
}

/* TODO: check notes */

.wire {
  background-color: transparent;
  border: 1px solid #404040;
}

.wire:focus {
  border: 1px solid #f2f2f2;
}

.primary {
  background-color: $color-primary;
  border-color: $color-primary;
}

.primary:focus {
  border: 1px solid #E7F4FB;
}

.secondary {
  background-color: #E7F4FB;
  border-color: #E7F4FB;
}

.secondary:focus {
  border: 1px solid #d3ebf8;
}
