@import '../../styles/variables.scss';

/* TODO: check notes */

/* buttons */
.button {
  height: 50px;
  width: 100px;

  border-radius: 4px;
  margin: 5px;

  &:focus {
    outline: none;
  }
}

.primary {
  background-color: $color-primary;
  border: 1px solid $color-primary;

  &:focus {
    border: 1px solid $color-primary-2;
    background-color: $color-primary-2;
  }

  &:hover {
      background-color: $color-primary-2;
  }
}

.secondary {
  background-color: $color-secondary;
  border: 1px solid $color-secondary;

  &:focus {
    border: 1px solid $color-primary-5;
  }
}

.tertiary {
  background-color: $color-warning;
  border: 1px solid $color-warning;

  &:focus {
    border: 1px solid $color-warning-2;
    background-color: $color-warning-2;
  }

  &:hover {
    background-color: $color-warning-2;
  }
}

.wire {
  background-color: transparent;
  border: 1px solid $color-grayscale;

  &:focus {
    border: 1px solid $color-grayscale-7;
  }
}
