

/* colors */

/* primary */
$color-primary: #008ed3;
$color-primary-1: make_color($color-primary, 0.9);
$color-primary-2: rgba($color-primary, 0.8);
$color-primary-3: rgba($color-primary, 0.7);
$color-primary-4: rgba($color-primary, 0.6);
$color-primary-5: rgba($color-primary, 0.5);
$color-primary-6: rgba($color-primary, 0.4);
$color-primary-7: rgba($color-primary, 0.3);
$color-primary-8: rgba($color-primary, 0.2);
$color-primary-9: rgba($color-primary, 0.1);

/* secondary */
$color-secondary: #e7f4fb;
$color-secondary-1: rgba($color-secondary, 0.9);
$color-secondary-2: rgba($color-secondary, 0.8);
$color-secondary-3: rgba($color-secondary, 0.7);
$color-secondary-4: rgba($color-secondary, 0.6);
$color-secondary-5: rgba($color-secondary, 0.5);
$color-secondary-6: rgba($color-secondary, 0.4);
$color-secondary-7: rgba($color-secondary, 0.3);
$color-secondary-8: rgba($color-secondary, 0.2);
$color-secondary-9: rgba($color-secondary, 0.1);

/* warning */
$color-warning: #ff3333;
$color-warning-1: rgba($color-warning, 0.9);
$color-warning-2: rgba($color-warning, 0.8);
$color-warning-3: rgba($color-warning, 0.7);
$color-warning-4: rgba($color-warning, 0.6);
$color-warning-5: rgba($color-warning, 0.5);
$color-warning-6: rgba($color-warning, 0.4);
$color-warning-7: rgba($color-warning, 0.3);
$color-warning-8: rgba($color-warning, 0.2);
$color-warning-9: rgba($color-warning, 0.1);

/* tertiary */
$color-tertiary: #005b87;
$color-tertiary-1: rgba($color-tertiary, 0.9);
$color-tertiary-2: rgba($color-tertiary, 0.8);
$color-tertiary-3: rgba($color-tertiary, 0.7);
$color-tertiary-4: rgba($color-tertiary, 0.6);
$color-tertiary-5: rgba($color-tertiary, 0.5);
$color-tertiary-6: rgba($color-tertiary, 0.4);
$color-tertiary-7: rgba($color-tertiary, 0.3);
$color-tertiary-8: rgba($color-tertiary, 0.2);
$color-tertiary-9: rgba($color-tertiary, 0.1);


/* grayscale */
$color-grayscale: #404040;
$color-grayscale-1: rgba($color-grayscale, 0.9);
$color-grayscale-2: rgba($color-grayscale, 0.8);
$color-grayscale-3: rgba($color-grayscale, 0.7);
$color-grayscale-4: rgba($color-grayscale, 0.6);
$color-grayscale-5: rgba($color-grayscale, 0.5);
$color-grayscale-6: rgba($color-grayscale, 0.4);
$color-grayscale-7: rgba($color-grayscale, 0.3);
$color-grayscale-8: rgba($color-grayscale, 0.2);
$color-grayscale-9: rgba($color-grayscale, 0.1);
