@import '../../../styles/variables.scss';

.container {
  height: 25px;
  width: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .slider {
    width: 90%;
    height: 80%;
    border-radius: 25px;

    position: absolute;
    left: 2%;

    &-off {
      background-color: $color-grayscale-9;
    }

    &-on {
      background-color: $color-tertiary-9;
      transition: .3s;
    }
  }

  .box {
    display: none;
  }

  .knob {
    height: 90%;
    width: 37%;
    border-radius: 50px;
    position: absolute;

    &-left {
      background-color: $color-grayscale-5;
      transition: .3s;
    }

    &-right {
      background-color: $color-tertiary;
      transition: .3s;
      transform: translateX(150%);
    }
  }


}
