/* TODO: check notes */

/* input texts */
.input-text {
  height: 35px;
  width: 300px;
  border: 1px solid #808080;
  padding: 0px 8px;
  border-radius: 3px;
  box-shadow: none;
  background-color: transparent;
  color: #404040;
}

.input-text:focus {
  outline: none;
  border: 1px solid #f2f2f2;
}
