@import '../../styles/variables.scss';

/* TODO: check notes */

/* input texts */
.input-text {
  height: 35px;
  width: 300px;
  border: 1px solid $color-grayscale-3;
  padding: 0px 8px;
  border-radius: 3px;
  box-shadow: none;
  background-color: transparent;
  color: $color-grayscale;
}

.input-text:focus {
  outline: none;
  border: 1px solid $color-grayscale-6;
}
